<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Książka kucharska</title>
</head>
<body>
    <div th:replace="fragments :: header"></div>
    <div>
        <div class="topnav">
            <a class="active" href="/">Home</a>
            <a href="/all">Wszystkie przepisy</a>
            <a href="/add">Dodaj przepis</a>
            <a href="#about">About</a>
        </div><br/>
        <form method="post" th:action="${mode == 'edit' ? 'edytuj' : '/add'}" th:object="${recipe}">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Nazwa potrawy</label>
                <div class="col-4 " >
                    <input type="hidden" th:field="*{id}">
                    <input type="text" th:field="*{name}" class="form-control" placeholder="Potrawa" minlength="3" maxlength="20" required name="name">
                </div>
            </div>
            <div class="form-group row borderLines ">
                <label for="comment" class="col-sm-2 col-form-label">Przepis potrawy</label>
                <div class="col-4">
                    <textarea th:field="*{description}" class="form-control" rows="5" id="comment" minlength="3" maxlength="500"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">URL</label>
                <div class="col-4 " >
                    <input type="text" th:field="*{url}" class="form-control" placeholder="Link zdjecia" minlength="3" maxlength="100">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Kategoria</label>
                <div class="col-4 " >
                    <select th:field="*{category}" class="form-control" id="exampleFormControlSelect1" required>
                        <option selected disabled value="">Wybierz</option>
                        <option value=1>Ciasta</option>
                        <option value=2>Desery</option>
                        <option value=3>Zupy</option>
                    </select><br/>
                </div>
            </div>
            <button type="submit" class="btn btn-primary borderLines">Submit</button>
        </form>
    </div>
</body>
</html>